{% extends "base.jinja" %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <div class="page-hero">
        <h1>
            <i class="fa-solid fa-bell" aria-hidden="true"></i> Notifications
        </h1>
    </div>

    {% include "watcher/islands/events.jinja" %}

{% endblock %}
