{% extends "base.jinja" %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <div class="page-head">
        <h1>Notifications</h1>
    </div>

    {% include "watcher/islands/events.jinja" %}
{% endblock %}
