{% extends "skeleton.jinja" %}

{% block title %}{{ code }} {{ title }}{% endblock %}
{% block body_class %}page page--bare{% endblock %}

{% block body_content %}
    <main class="page__main">
        <p class="error__code">{{ code }}</p>
        <h1>{{ title }}</h1>
        <p class="lead">{{ description }}</p>
        <a href="{{ url_for('index') }}" class="button">Go home</a>
    </main>
{% endblock %}
